*~
*.lxt
*.pyc
*.vvp
*.kate-swp

.*
!.gitignore

# Kernel
*.o
*.cmd
*.mod
*.mod.c
Module.symvers
modules.order
*.ko

# Vivado
*.jou
*.log
*.str
*.bit
*.bin
*.ltx
*.mcs
*.prm
*.xpr
*.xsa
*.rpt
*.wdb
*.wcfg
*.vcd
*.fst
results.xml
sim_build*/
fpga.cache/
fpga.gen/
fpga.hw/
fpga.ip_user_files/
fpga.runs/
fpga.sim/
fpga.srcs/
rev/
create_project.tcl
defines.v
flash.tcl
generate_bit.tcl
generate_mcs.tcl
list_hw.tcl
program.tcl
run_impl.tcl
run_synth.tcl
update_config.tcl
fpga_profile_*.csv

# Built host utilities
utils/mqnic-bert

tags
